* {
  margin:0px;
  padding:0px;
  font-family: 'Sora', sans-serif;
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
  color: white;
}

::selection {
  color: #4E1D02;
  background-color: #FFDBBA;
}

header {
  text-align: center;
}

header, footer {
  background-color: #4E1D02;
  margin-top: 0;
  color: white;
  font-size: 15px;
  padding: 5px;
}

footer div {
  display: flex;
  flex-wrap: nowrap;
}

.menu{
  margin-top: 2px;
  background-color: #4E1D02;
  color: white;
  text-decoration: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.menu a {
  margin-top: 2px;
  margin-bottom: 2px;
}

@media (max-width: 700px) {
  .menu {
    flex-wrap: wrap;
  }
  .menu a {
      width: 50%;
  }
  footer div {
    flex-direction: column;
  }
}

@media (min-width: 701px) {
  .menu {
    height: 30px;
  }
  .menu a {
      width: 25%;
      transition: transform 0.4s;
  }
  .menu a:hover {
      transform: scale(1.1);
  }
  footer {
    text-align: center;
  }
  footer span {
    width:30%;
  }
  footer div {
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
  }
}