.menu{
    margin-top: 2px;
    background-color: #4E1D02;
    color: white;
    text-decoration: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.menu a {
    margin-top: 2px;
    margin-bottom: 2px;
}

.formulaire{
    display: grid;
    grid-column: auto;
    align-items: center;
}

hr {
    color: white;
    size: 2px;
}

champ{
    display: flex;
    flex-direction: column;
    justify-content : center;
}

c{
    display: flex;
}

a{
    text-decoration: none;
    color: white;
}

@media (max-width: 700px) {
    .menu {
        flex-wrap: wrap;
    }
    .menu a {
        width: 50%;
    }
}

@media (min-width: 701px) {
    div{
        display: flex;
        justify-content:space-around;
    }
    .menu {
        height: 30px;
    }
    .menu a {
        width: 25%;
    }
    .menu a {
        transition: font-size 0.4s;
    }
    .menu a:hover {
        font-size: 17px;
    }
}