.menu{
    margin-top: 2px;
    background-color: #4E1D02;
    color: white;
    text-decoration: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.menu a {
    margin-top: 2px;
    margin-bottom: 2px;
}

.form {
    display: flex;
    flex-direction: column;

    /*grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr  1fr 1fr 1fr 1fr;
    grid-column: auto;
    align-items: center;*/
}

hr {
    color: white;
    size: 2px;
}

section{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
}

section>*:not(h3) {
    margin-left: 20px;
}

section h3 {
    width: 100%;
}

.choix {
    margin-top: 5px;
}

.commande {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5%;
}

a{
    text-decoration: none;
    color: white;
}

@media (max-width: 700px) {
    .menu {
        flex-wrap: wrap;
    }
    .menu a {
        width: 50%;
    }
}

@media (min-width: 701px) {
    .menu {
        height: 30px;
    }
    .menu a {
        width: 25%;
    }
    .menu a {
        transition: font-size 0.4s;
    }
    .menu a:hover {
        font-size: 17px;
    }
}